* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    background-color: #a68a64;

    // NAVBAR
    nav {
        background-image: url('../multimedia/fondoNavbar.png');
        background-size: 100%;
        background-position-y: center;
        background-repeat: no-repeat;
        background-position-x: center;

        #containerNav {
            #btnCarrito {
                img {
                    vertical-align: top;
                    // background: url('../multimedia/carrito.png') no-repeat center center / 100% auto;
                }
            }

        }

        .burgerMenu {
            background-image: url('../multimedia/fondoNavbar.png');

            a {
                &:hover {
                    background-color: #dee2ff;
                    letter-spacing: 1px;
                    text-transform: capitalize;
                    transition: 0.5s;
                    transition-timing-function: ease;
                    font-weight: bold;
                }
            }
        }
    }
}


// fuentes
@import url('//fonts.googleapis.com/css?family=Bungee+Shade');




// contacto.html

main {
    .tituloContacto {
        h1 {
            font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
            color: #dee2ff;
            // line-height: 100px;
            text-shadow: 0 1px 0 #353535,
                0 2px 0 #353535,
                0 3px 0 #353535,
                0 4px 0 #353535,
                0 5px 0 #353535,
                0 6px 0 transparent,
                0 7px 0 transparent,
                0 8px 0 transparent,
                0 9px 0 transparent,
                0 10px 10px rgba(0, 0, 0, .6);

            @media (min-width: 1024px) {
                animation: bounce 1s infinite alternate;
            }
        }
    }
}





// FOOTER
footer {
    background-image: url('../multimedia/fondoNavbar.png');
}



//HISTORIA 

.padre {
    .cuerpoHistoria {
        .cuerpoContainer {
            .hijoContainer {
                .tituloHistoria {
                    font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
                    color: #dee2ff;
                    // line-height: 100px;
                    text-shadow: 0 1px 0 #353535,
                        0 2px 0 #353535,
                        0 3px 0 #353535,
                        0 4px 0 #353535,
                        0 5px 0 #353535,
                        0 6px 0 transparent,
                        0 7px 0 transparent,
                        0 8px 0 transparent,
                        0 9px 0 transparent,
                        0 10px 10px rgba(0, 0, 0, .6);

                    @media (min-width: 1024px) {
                        animation: bounce 1s infinite alternate;
                    }
                }
            }
        }
    }
}


// ANIMACION

@keyframes bounce {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(-15px);
    }
}

@-webkit-keyframes bounce {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(-15px);
    }
}


// GALERIA

main {
    .tituloGaleria {
        h1 {
            font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
            color: #dee2ff;
            // line-height: 100px;
            text-shadow: 0 1px 0 #353535,
                0 2px 0 #353535,
                0 3px 0 #353535,
                0 4px 0 #353535,
                0 5px 0 #353535,
                0 6px 0 transparent,
                0 7px 0 transparent,
                0 8px 0 transparent,
                0 9px 0 transparent,
                0 10px 10px rgba(0, 0, 0, .6);

            @media (min-width: 1024px) {
                animation: bounce 1s infinite alternate;
            }
        }
    }
}


// TIENDA



main {

    #carrito{
        background: linear-gradient(186deg, rgba(0,0,0,1) 0%, rgba(17,24,39,1) 35%);
    }
    #contenedorProductos {
        .sombrahover {
            -webkit-box-shadow: -1px -1px 46px 20px rgba(255, 255, 255, 1);
            -moz-box-shadow: -1px -1px 46px 20px rgba(255, 255, 255, 1);
            box-shadow: -1px -1px 46px 20px rgba(255, 255, 255, 1);
        }
    }

    .tituloTienda {
        h1 {
            font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
            color: #dee2ff;
            // line-height: 100px;
            text-shadow: 0 1px 0 #353535,
                0 2px 0 #353535,
                0 3px 0 #353535,
                0 4px 0 #353535,
                0 5px 0 #353535,
                0 6px 0 transparent,
                0 7px 0 transparent,
                0 8px 0 transparent,
                0 9px 0 transparent,
                0 10px 10px rgba(0, 0, 0, .6);

            @media (min-width: 1024px) {
                animation: bounce 1s infinite alternate;
            }
        }
    }
}




// INDEX


main {
    .tituloIndex {
        h1 {
            font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
            color: #dee2ff;
            // line-height: 100px;
            text-shadow: 0 1px 0 #353535,
                0 2px 0 #353535,
                0 3px 0 #353535,
                0 4px 0 #353535,
                0 5px 0 #353535,
                0 6px 0 transparent,
                0 7px 0 transparent,
                0 8px 0 transparent,
                0 9px 0 transparent,
                0 10px 10px rgba(0, 0, 0, .6);

            @media (min-width: 1024px) {
                animation: bounce 1s infinite alternate;
            }
        }
    }
}


// ANIMACION SLIDER INDEX 
input[name="slider-select-element"] {
    display: none;
}

#slider-arrows {
    margin: -10% auto 0 auto;
    width: 80%;
}

#slider-box {
    -moz-animation: autoSlider 15s infinite linear;
    -o-animation: autoSlider 15s infinite linear;
    -webkit-animation: autoSlider 15s infinite linear;
    animation: autoSlider 15s infinite linear;

    -webkit-transition: all 0.75s ease;
    -moz-transition: all 0.75s ease;
    -ms-transition: all 0.75s ease;
    -o-transition: all 0.75s ease;
    transition: all 0.75s ease;

    height: 100%;
    width: 300%;
}

#slider-container {
    height: 20%;
    margin: 0 auto;
    overflow: hidden;
    text-align: left;
    width: 80%;
}


.slider-element {
    float: left;
    width: 33.333%;
}

@-moz-keyframes autoSlider {
    0% {
        margin-left: 0;
    }

    30% {
        margin-left: 0;
    }

    35% {
        margin-left: -100%;
    }

    65% {
        margin-left: -100%;
    }

    70% {
        margin-left: -200%;
    }

    95% {
        margin-left: -200%;
    }

    100% {
        margin-left: 0;
    }
}

@-webkit-keyframes autoSlider {
    0% {
        margin-left: 0;
    }

    30% {
        margin-left: 0;
    }

    35% {
        margin-left: -100%;
    }

    65% {
        margin-left: -100%;
    }

    70% {
        margin-left: -200%;
    }

    95% {
        margin-left: -200%;
    }

    100% {
        margin-left: 0;
    }
}

@keyframes autoSlider {
    0% {
        margin-left: 0;
    }

    30% {
        margin-left: 0;
    }

    35% {
        margin-left: -100%;
    }

    65% {
        margin-left: -100%;
    }

    70% {
        margin-left: -200%;
    }

    95% {
        margin-left: -200%;
    }

    100% {
        margin-left: 0;
    }
}